* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 60%;
}

body {
  background-color: hsl(233deg, 47%, 7%);
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.img-mobile {
  display: none;
}

.card {
  display: flex;
  align-items: stretch;
  justify-content: center;
  border-radius: 1rem;
  background-color: hsl(244deg, 38%, 16%);
  max-width: 78%;
  max-width: 1140px;
  margin: 5%;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  padding: 6%;
}
.card-text .main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 85%;
}
.card-text h1 {
  font-size: 3.4rem;
  line-height: 4.2rem;
  letter-spacing: 0.6px;
  margin-bottom: 2.8rem;
  color: hsl(0deg, 0%, 100%);
}
.card-text span {
  color: hsl(277deg, 64%, 61%);
}
.card-text .paragraph {
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.5px;
  color: hsla(0deg, 0%, 100%, 0.75);
}

.stats {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stats-table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stats-numbers {
  font-weight: bold;
  font-size: 2.2rem;
  color: hsl(0deg, 0%, 100%);
}

.stats-title {
  font-size: 1.2rem;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  margin-top: 0.8rem;
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0deg, 0%, 100%, 0.6);
}

img {
  height: 100%;
  mix-blend-mode: multiply;
}

.card-img {
  border-radius: 0 1rem 1rem 0;
  background-color: hsl(277deg, 64%, 61%);
  position: relative;
}

.blank {
  position: absolute;
  background-color: hsl(277deg, 64%, 61%);
  border-radius: 0 1rem 1rem 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.25;
}

@media screen and (max-width: 375px) {
  .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    display: flex;
    flex-direction: column;
    max-width: 88%;
  }
  .stats {
    display: flex;
    flex-direction: column;
  }
  .stats-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.6rem;
  }
  .card-text {
    order: 2;
    padding: 10%;
  }
  .card-text .main-text {
    width: 100%;
  }
  .card-text h1 {
    font-size: 2.6rem;
    text-align: center;
    line-height: 3.6rem;
    margin-bottom: 1.2rem;
  }
  .card-text .paragraph {
    text-align: center;
    width: 100%;
  }
  .stats {
    margin-top: 2.8rem;
  }
  .stats-title {
    font-size: 1.2rem;
  }
  .card-img {
    border-radius: 1rem 1rem 0 0;
    order: 1;
  }
  img {
    border-radius: 1rem 1rem 0 0;
  }
  .img-desktop {
    display: none;
  }
  .img-mobile {
    display: block;
    width: 100%;
  }
  .blank {
    border-radius: 1rem 1rem 0 0;
  }
}
@media screen and (max-width: 980px) {
  .container {
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    display: flex;
    flex-direction: column;
    max-width: 78%;
    margin: 3% 0;
  }
  .stats {
    flex-wrap: wrap;
  }
  .stats-table {
    display: flex;
    flex-direction: column;
    margin: 1.6rem;
  }
  .card-text {
    order: 2;
    padding: 10%;
  }
  .card-text .main-text {
    width: 100%;
  }
  .card-text h1 {
    font-size: 3.4rem;
    margin-bottom: 3rem;
    line-height: 4.2rem;
    letter-spacing: 0.6px;
  }
  .card-text .paragraph {
    width: 100%;
  }
  .stats {
    margin-top: 2.8rem;
  }
  .stats-title {
    font-size: 1.2rem;
  }
  .card-img {
    border-radius: 1rem 1rem 0 0;
    order: 1;
  }
  img {
    border-radius: 1rem 1rem 0 0;
  }
  .img-desktop {
    display: none;
  }
  .img-mobile {
    display: block;
    width: 100%;
  }
  .blank {
    border-radius: 1rem 1rem 0 0;
  }
}
@media screen and (max-width: 1050px) {
  .stats-title {
    font-size: 1.1rem;
  }
  .card-text .block {
    width: 100%;
  }
  .card-text h1 {
    font-size: 3.2rem;
    line-height: 3.8rem;
    margin-bottom: 2rem;
  }
  .card-text .paragraph {
    width: 100%;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.5px;
  }
}/*# sourceMappingURL=style.css.map */